@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');

@import "tailwindcss";

body {
  background:
    linear-gradient(to bottom right, #1a1a2f66, transparent 40%),
    radial-gradient(circle at 80% 70%, #2c201bbe, transparent 40%),
    #000411;

  font-family: 'DM Sans', sans-serif;
}

h1,
h2 {
  font-family: 'DM Serif Display', serif;
}





@keyframes border-rotate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}


.animate-border-rotate {
  background-size: 200% 200%;
  animation: border-rotate 5s linear infinite;
}